.ui-text {
    font-family: 'Avenir Next', sans-serif;
    margin: 0;
    padding: 0;

    /*
     * Style for cp type text component
     */

    &--h1 {
        font-size: 38px;
    }

    &--h2 {
        font-size: 28px;
    }

    &--h3 {
        font-size: 24px;
    }

    &--h4 {
        font-size: 20px;
    }

    &--h5 {
        font-size: 16px;
    }

    &--p {
        font-size: 12px;
    }

    /*
     * Style for cp text font weight component
     */

    &--light {
        font-weight: 300;
    }

    &--normal {
        font-weight: 400;
    }

    &--medium {
        font-weight: 500;
    }

    &--semi-bold {
        font-weight: 600;
    }

    &--bold {
        font-weight: 700;
    }
}
