.ui-list-chat {
    display: block;
    padding: 10px;
    text-align: left;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

    &--show-suggestion {
        margin-bottom: 30px;
    }

    &__item {
        position: relative;

        > .ui-text.ui-text--p {
            display: inline-block;
            padding: 10px 15px;
            margin: 7.5px 0;
            max-width: 65%;
            border-radius: 10px;
            word-wrap: break-word;
            font-size: 14px;
        }

        &--bot {
            position: relative;

            .ui-text.ui-text--p {
                background-color: #537fed;
                color: white;
                margin-left: 40px;
            }

            &.ui-list-chat__item--without-icon {
                &::after,
                &::before {
                    display: none;
                }
            }

            &::after {
                content: '';
                content: '';
                position: absolute;
                border-top: 7px solid transparent;
                border-bottom: 7px solid transparent;
                border-right: 7px solid #537fed;
                top: 50%;
                left: 33px;
                transform: translateY(-50%);
            }

            &::before {
                content: '';
                position: absolute;
                top: calc(50% - 12px);
                width: 24px;
                height: 24px;
                background-color: #e0e0e0;
                background-image: url('../../../static/images/nico.svg');
                background-size: 24px;
                border-radius: 50%;
                overflow: hidden;
            }
        }

        &--user {
            text-align: right;

            .ui-text.ui-text--p {
                background-color: #f1f4f7;
                color: #3e4246;
            }
        }
    }
}
