.ui-list-property {
    margin: 0 -10px;
    display: block;
    width: calc(100% + 20px);

    div {
        outline: none;
    }

    .slick-slide {
        display: block;
        width: 220px;
    }

    .slick-arrow {
        position: absolute;
        left: initial;
        right: initial;
        z-index: 100;
        transition: all 0.3s
            cubic-bezier(0.25, 0.8, 0.25, 1);

        &.slick-disabled {
            &.slick-next,
            &.slick-prev {
                &:before {
                    color: rgba(#3893d9, 0.5);
                }
            }
        }

        &.slick-next,
        &.slick-prev {
            &::before {
                color: #000;
                font-family: 'Material Icons';
                font-weight: normal;
                font-style: normal;
                font-size: 24px;
                line-height: 1;
                letter-spacing: normal;
                text-transform: none;
                display: inline-block;
                white-space: nowrap;
                word-wrap: normal;
                direction: ltr;
                -webkit-font-feature-settings: 'liga';
                -webkit-font-smoothing: antialiased;
                width: 24px;
                height: 24px;
                box-shadow: 0 1px 5px 0
                    rgba(62, 66, 70, 0.12);
                background-color: #ffffff;
                border-radius: 50%;
                overflow: hidden;
                opacity: 1;
                color: #3893d9;
                transition: all 0.3s
                    cubic-bezier(0.25, 0.8, 0.25, 1);

                &:hover {
                    box-shadow: 0 1px 5px 0
                            rgba(62, 66, 70, 0.12),
                        0 2px 10px 0 rgba(62, 66, 70, 0.06);
                }
            }
        }

        &.slick-next {
            right: 10px;

            &::before {
                content: 'keyboard_arrow_right';
            }
        }

        &.slick-prev {
            &::before {
                content: 'keyboard_arrow_left';
            }
        }
    }
}
