.ui-form {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    width: 100%;
    height: 50px;
    border-top: thin solid #d8e2e8;
    overflow: hidden;
    z-index: 100;
    transform: translateY(0%);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: -1px;
        width: 100%;
        height: calc(100% + 1px);
        background-color: rgba(221, 221, 221, 0.25);
        transform: translateY(-100%);
        opacity: 0;
        transition: all 0.3s
            cubic-bezier(0.25, 0.8, 0.25, 1);
        z-index: 100;
        cursor: not-allowed;
    }

    &--disable {
        border-top: thin solid #ededed;
        transform: translateY(100%);

        &::before {
            opacity: 1;
            transform: translateY(0);
        }
    }

    input {
        width: 100%;
        height: 100%;
        outline: none;
        background: transparent;
        border: 0;
        font-family: 'Avenir Next', sans-serif;
        font-size: 16px;
        letter-spacing: 0.25px;
        color: #737984;
        padding: 15px 50px 15px 15px;

        &::-webkit-input-placeholder {
            color: rgba(#3e4246, 0.5);
        }
    }

    button {
        position: absolute;
        border: 0;
        background: transparent;
        outline: 0;
        width: 50px;
        height: 100%;
        right: 0;
        cursor: pointer;

        i {
            color: #c0c0c0;
            transition: all 0.3s
                cubic-bezier(0.25, 0.8, 0.25, 1);
        }

        &:hover,
        &:focus {
            i {
                color: #3893d8;
            }
        }
    }
}
